*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
    background-image: linear-gradient(rgba(223, 182, 182, 0.377), rgba(223, 182, 182, 0.377)), url(./fondo.jpg);
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    overflow-x: hidden;
    min-width: 50rem;
}

div {
    margin-top: 3.5rem;
    width: 37.5%;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    min-width: 50rem;
    max-width: 75rem;
}

h1, p {
    text-align: center;
    margin: 1rem;
    letter-spacing: 1px;
    font-size: 3rem;
    font-weight: 600;
}

p {
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 100;
}

form {
    background-color: rgba(5, 7, 44, 0.726);
    width: 37.5%;
    min-height: fit-content;
    font-size: 1.6rem;
    border-radius: 3px;
    min-width: 55rem;
    max-width: 75rem;
}

form div {
    width: 90%;
    margin: 2.5% 5%;
    font-size: 1.6rem;
}

form div:first-child {
    margin-top: 3rem;
}

form div:last-child {
    margin-bottom: 5rem;
}

form div input, option {
    font-size: 1.6rem;
}

label {
    display: block;
    margin: 2% 0;
}

input[type="text"], textarea, button, input[type="number"], select, input[type="email"] {
    display: block;
    width: 100%;
    border-radius: 4px;
    height: 4rem;
    padding: .5rem;
    font-size: 1.6rem;
    border: none;
}

textarea {
    height: 10rem;
    font-family: sans-serif;
    border: none;
}

span {
    font-size: 1.3rem;
}

button {
    border: none;
    color: white;
    background-color: green;
}

