.main__advantages {
    padding: 3rem;
    flex-direction: column;
}

.main__advantages div {
    margin: 1.5rem;
    width: 50rem;
    height: 8rem;
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-rows: 1fr 1fr;
}

.main__advantages img {
    grid-column: 1/2;
    grid-row: 1/3;
}