.header {
    display: flex;
    padding: .5rem 2rem;
    align-items: center;
}

.header > div {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header__icon {
    height: 5rem;
    margin-left: 7rem;
    margin-right: 1.5rem;
    width: 5rem;
    background-color: white;
}

.header__brand {
    margin-right: auto;
    font-size: 3rem;
    font-family: serif;
}

.header__nav {
    margin: auto 4rem;
    font-size: 1.8rem;
}

@media (max-width: 900px) {
    .header {
        flex-direction: column;
    }
    .header__icon {
        margin-left: 0;
    }
    .header__brand {
        margin-right: 0;
    }
}