.header {
    display: flex;
    padding: .5rem 2rem;
    align-items: center;
}

.header__icon {
    height: 2.5rem;
    margin-left: 3rem;
    margin-right: 1rem;
    width: 2.5rem;
    background-color: white;
}

.header__brand {
    margin-right: auto;
    font-size: 2rem;
}

.header__nav {
    margin: auto 3rem
}