.main__pricing {
    justify-content: center;
}
 .main__pricing div {
    border: 3px solid black;
    width: 30rem;
    height: 35rem;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 3rem;
 }

 .main__pricing * {
    width: 100%;
 }

 .main__pricing h3 {
    line-height: 5rem;
    background-color: var(--secondary-color);
 }

 .main__pricing h4 {
    line-height: 7rem;
    font-size: 2rem;
 }

 .main__pricing ul {
    height: 14rem;
 }

 .main__pricing li {
    line-height: 3.5rem;
    list-style-type: none;
 }

 .main__pricing button {
    height: 4rem;
    margin: auto;
    width: 10rem;
    font-size: 1.6rem;
 }