*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 100vh;
}

.container-outside {
    height: 200px;
    width: 400px;
    background-color: yellowgreen;
    border-radius: 15px;
    clip-path: rect(0px 400px 200px 0px);
    z-index: 2;

}

.container-outside:hover {
    clip-path: rect(0px 0px 200px 0px);
    transition: clip-path 4s;
    
}

.container-inside {
    padding: 3rem;
    height: 200px;
    width: 400px;
    border-radius: 15px;
    background-color: orangered;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

