*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 350px;
    position: relative;
    margin: 30px;
}

.progress::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    transform: translateY(-50%);
    background-color: #e0e0e0;
    opacity: .5;
    z-index: -1;

}

.progress-bar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 4px;
    transform: translateY(-50%);
    background-color: aqua;
    transition: .3s;
}

.num {
    width: 25px;
    border-radius: 50%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: white;
    border: solid 3px #e0e0e0;
}

.num.active {
    border-color: aqua;
    transition: .4s ease;
    background-color: white;
}

.buttons {
    height: 30px;
}

.btn {
    width: 20%;
    height: 100%;
    margin: 0 10px;
    border: none;
    color: white;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.97);
}

.prev {
    cursor: not-allowed;
}





