*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	background-color: rebeccapurple;
	color: white;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px;
}

.container * {
	margin: 5px;
}

.container div {
	font-size: 3rem;
}

@media (max-width: 700px) {
	body {
		flex-direction: column;
	}
}
